# IDE (JetBrains / IntelliJ / PyCharm)
.idea/
# Project files
*.iml

.secrets.*
.python-version
__pycache__/
.vscode/
venv/
logs/
test.ipynb
utils/__pycache__
pydantic_models/__pycache__
agents/__pycache__
agents/prompts/__pycache__