# IDE (JetBrains / IntelliJ / PyCharm)
.idea/
# Project files
*.iml
venv312/

.secrets.*
.python-version
__pycache__/
.vscode/
venv/
logs/
chroma_db/
data/original_ data
data/faqs.json
data/products.csv
data/inventory.csv
data/orders.csv
test.ipynb
utils/__pycache__
models/__pycache__
agents/__pycache__
prompts/__pycache__
tools/__pycache__
state/__pycache__
database/__pycache__
harvard.wav
